extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Your playlists
  ul#playlists
    each playlist in playlists
      li
        p
          if playlist.images[0]
            img(src=playlist.images[0].url width="60" height="60")
          | #{playlist.name}
        ul
          each song in playlist.songs
            li
              p Song - #{song.track.name}
              p Artists - 
                each artist in song.track.artists
                  | #{artist.name} & 
              p Album - #{song.track.album.name}
